<!DOCTYPE html>
<html lang="es">
{% include head.html %}

<body class="layout-base">
  {% include header.html %}
  <main class="container">
    <div class="hero text-center">
    </div><!-- end hero -->
    {% include menu.html %}
    <div class="content">
      {{ content }}
    </div>
  </main><!-- end container-->
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
  {% include footer.html %}
  <script src="{{ '/assets/js/clipboard.js' | relative_url }}?v={{ site.github.build_revision }}"></script>
  <script src="{{ '/assets/js/clearfix.js' | relative_url }}?v={{ site.github.build_revision }}""></script>
  <script src="{{ '/assets/js/codepen.js' | relative_url }}?v={{ site.github.build_revision }}""></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>

</html>
